.vscode/**
.vscode-test/**
src/**
test/**
node_modules/**
.git/**
.github/**
.gitignore
.vscodeignore
esbuild.js
Makefile
tool/**
tsconfig.json
CONTRIBUTING.md
**/*.map
**/*.ts
docs/**
images/screenshots/**